
body {
    font-family: Arial, sans-serif;
    background-color: #f6f7f8;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.container h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
    text-align: center;
    color: #201d1d;
}



.form-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 14px;
}

.form-input:focus {
    outline: none;
    border-color: #4267B2;
    box-shadow: 0 0 0 2px rgba(66, 103, 178, 0.2);
}

.form-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.form-submit {
    background-color: #4267B2;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;

}

.form-submit:hover {
    background-color: #385898;
}
